/* html {
    background-color:#f2f2f2;
} */

.TOPtitleAndParagraph {
    text-align: center;
    font-family: 'Bitter', serif;
}

@media (max-width: 1080px) {
    #paragraph {
        color: pink;
    }
}

#h1Title {
    color: #6B4E37;
    
}

.LEFTimgPCIngre {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
img {
    margin: 0 auto;
    display: block;
    width: 32%;
}

/* added a media query for the image, it gets really big when the screen is minamized */
@media (max-width: 1080px){
    img {
        width: 100%;
    }
}


.test{
    display: flex;
}

#photoCredit {
    text-align: center;
    font-family: 'Bitter', serif;
}


.Ingredients {
    background-color: rgb(245, 171, 81);
    width: 45%;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Bitter', serif;
    text-align: center;
    color: #6B4E37
}

.Instructions {
    background-color: rgb(245, 171, 81);
    width: 45%;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Bitter', serif;
    text-align: center;
    color: #6B4E37
}

/* media query so that the text color changes*/
@media (max-width: 1081px){
    .Ingredients, .Instructions {
        color: pink;
    }
}


.ExtLin {
    font-family: 'Bitter', serif;
    text-align: center;
}

a[href*="vegan"]{
    color: gray;
}
/* the ruleset is for any href that has the string vegan, it willturn the text gray */

a:hover{
    color: darkorange;
}

/* #inline-block {
    display: inline-block;
    color: #444444;
} */



