html {
    background-color:#f2f2f2;
}

.TOPtitleAndParagraph {
    text-align: center;
    font-family: 'Bitter', serif;
}


#h1Title {
    color: #6B4E37;
    
}

img {
    margin: 0 auto;
    display: block;
}

#photoCredit {
    text-align: center;
}

.Ingredients {
    background-color: rgb(245, 171, 81);
}

.Instructions {
    background-color: rgb(245, 171, 81);
}

.OtherLinks {
    background-color: #b9b2b2;
    text-align: center;
}
a[href*="vegan"]{
    color: gray;
}
/* the ruleset is for any href that has the string vegan, it willturn the text gray */

a:hover{
    color: darkorange;
}

/* #inline-block {
    display: inline-block;
    color: #444444;
} */



