html {
    /* background-color: rgb(255, 230, 208); */
    /* light blue, skyblue, cream, beige!, pale yellow, peach! coral */
    /* background-color: #ffffff; */
    background-color: lavender;
    color: #1A237E
}

.bold-text {
    font-weight: bold;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Amatic SC", sans-serif;

}

img {
    max-width: 100%;
    height: auto;
    border: 1px dotted lightgoldenrodyellow
}

#Bio {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    margin-left: 35px;
    padding-top: 100px;

}

/* From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
/* Apply the font to the h1 element */
h1 {
  font-family: 'Italianno', cursive;
}


#paraFont, h5 {
    font-family: "Open Sans", sans-serif;


}

.photoAndBio {
    display: flex;
    margin-top: 25px;
    max-width: 1000px;
}


.containers {
    flex: 1;
} 

#contacBack {
    background-color: gray;
    /* padding-right: 10px; */
}


